<div class="row product-details" *ngIf="productData">
  <div class="col-sm-6">
    <img src="{{ productData.productImage }}" class="product-image" alt="" />
  </div>
  <div class="col-sm-6">
    <div class="details">
      <h1>{{ productData.productName }}</h1>
      <h3>{{ productData.price }}</h3>
      <div>
        color
        <h5>red</h5>
      </div>
      <h6>Catogory: {{ productData.productNameCategory }}</h6>
      <h6>{{ productData.productDescription }}</h6>
      <button class="form-btn" (click)="addToCart()">Add t Card</button>
      <button class="form-btn">Buy NoW</button>
      <div class="quantity-group">
        <button (click)="handleQuantity('min')">-</button>
        <input type="text" value="{{ productQuantity }}" />
        <button (click)="handleQuantity('plus')">+</button>
      </div>
    </div>
  </div>
</div>
